<a> <img src="./assets/logo-1.png" routerLink="" alt="logo" id="logo"> </a>
<form (submit)="login($event)">
  <input type="text" placeholder="Username" id="username">
  <input type="password" placeholder="Password" id="password">
  <button type="submit" name="valider"><span>Valider</span></button>
</form>
<!-- <button type="button" routerLink="validation" ><span>valider</span></button>  -->


<button type="submit" id="settings" routerLink="settings" style="border: 0; background: transparent">
    <img src="./assets/button-settings.png" width="60%" height="60%" alt="settings" />
</button>
